@model ClienteDto

@using System.Globalization
@using TesteTecnicoEL.Api.Models


<form method="post">
    <div class="text-danger">
        @if (ViewBag.Erro != null)
        {
            @if (ViewBag.Erro[0] == "UnauthorizedAccessException")
            {
                @Html.Raw("Usuário ou senha inválidos.");
            }
            else
            {
                @Html.Raw(string.Join("<br />", ViewBag.Erro as string[]));
            }
        }
    </div>
    <div class="form-group">
        <label asp-for="CPF" class="control-label"></label>
        <input asp-for="CPF" class="form-control" />
        <span asp-validation-for="CPF" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Senha" class="control-label"></label>
        <input asp-for="Senha" class="form-control" type="password" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <div class="form-group d-flex justify-content-between align-items-center mb-7">
        <button id="btn-signin" type="button" class="btn btn-outline-primary text-uppercase" onclick="SubmeterAcesso(); return false">
            Entrar
        </button>
        <a href="#" class="text-forgot-password" onclick="recoverPassword(); return false">Esqueceu sua senha?</a>
    </div>
</form>
