@model Cliente

@using System.Globalization
@using TesteTecnicoEL.Dominio.Usuarios

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Locadora TesteTecnicoEL</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Veiculo" asp-action="Index">Início</a>
        </li>
        @if (Model != null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Aluguel" asp-action="Index">Meu Historico</a>
            </li>
        }
    </ul>
</div>

<div class="menu-right">
    <div class="avatar">
        @if (Model == null)
        {
            @*<a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Acessar">Acessar</a>*@
            <a href="#" data-toggle="modal" data-target="#frm-login-modal">Entrar</a>
        }
        else
        {
            @Model.Nome
            <a class="text-dark" asp-area="" asp-controller="Cliente" asp-action="Sair">(Sair)</a>
        }
    </div>
</div>

